@import 'styles/constants/colors';

.form {
  position: relative;
  display: flex;
  flex-direction: rows;
  align-items: center;
  margin-top: 20px;
}

.icon {
  position: absolute;
  padding-left: 24px;
  font-size: 15px;
}

.input {
  width: 520px;
  height: 50px;
  padding-left: 52px;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 14px;
  background: $WHITE;
  border: none;
  border-radius: 100px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.button {
  position: absolute;
  right: 0;
  width: 76px;
  height: 50px;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 14px;
  color: $WHITE;
  background: $BLUE;
  border: none;
  border-radius: 0 100px 100px 0;

  &:active {
    outline: none;
    box-shadow: none;
  }
}
